body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: purple;
}

.green {
  background-color: cyan;
}

.blue {
  background-color:greenyellow;
}

.yellow {
  background-color: goldenrod;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#description {
  display: inline-block;
  margin:auto;
  margin-top: 50px;
  width: 600px;
  height:350px;
  background-color: white;
  border-radius:20%;

}
.desc{
  font-family:'Oswald',sans-serif;
  font-weight: light;
  font-size:32px;
  padding: 2px;
}
#desc_title{
  font-family:'Oswald',sans-serif;
  font-weight:bold;
  font-size:55px;
}